.about-us {
  font-weight: bold;
}

.about-us__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $tablet) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop) {
    font-size: 53px;
    line-height: 57px;
  }
}

.about-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 17px;
  line-height: 20px;

  @media (min-width: $tablet) {
    columns: 2;
  }
}
