.about-us {
  font-weight: 700;
}

.about-us--positioning {
  padding-top: 22px;

  @media (min-width: $tablet) {
    margin-bottom: 82px;
    padding-top: 35px;
  }

  @media (min-width: $desktop) {
    padding-top: 68px;
    margin-bottom: 85px;
  }
}

.about-us__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 37px;
    margin-left: 0;
  }

  @media (min-width: $desktop) {
    font-size: 53px;
    line-height: 57px;
    margin-left: 175px;
    margin-top: 2px;
  }
}

.about-us__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 57px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 51px;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 82px;
    width: 670px;
  }

  @media (min-width: $desktop) {
    width: 700px;
    margin: 0 auto;
  }
}

.about-us__item {
  margin-top: 83px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet) {
    margin-top: 60px;
  }
}

.about-us__item--materials {
  &::before {
    background-image: url("../../img/icon-about-us-1.svg");
    width: 33px;
    height: 38px;
    left: 8px;
    top: -55px;
  }

  @media (min-width: $tablet) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.about-us__item--style {
  &::before {
    background-image: url("../../img/icon-about-us-2.svg");
    width: 47px;
    height: 23px;
    top: -54px;
    left: 0;
  }

  @media (min-width: $tablet) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.about-us__item--likes {
  &::before {
    background-image: url("../../img/icon-about-us-3.svg");
    width: 34px;
    height: 27px;
    top: -49px;
    left: 7px;
  }

  @media (min-width: $tablet) {
    grid-column: 1 / 21;
    grid-row: 3 / 4;
  }
}

.about-us__item--love {
  &::before {
    background-image: url("../../img/icon-about-us-4.svg");
    width: 35px;
    height: 35px;
    top: -52px;
    left: 4px;
  }

  @media (min-width: $tablet) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.about-us__item--support {
  &::before {
    background-image: url("../../img/icon-about-us-5.svg");
    width: 55px;
    height: 23px;
    top: -50px;
    left: -6px;
  }

  @media (min-width: $tablet) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.about-us__item--delivery {
  &::before {
    background-image: url("../../img/icon-about-us-6.svg");
    width: 33px;
    height: 32px;
    top: -53px;
    left: 3px;
  }

  @media (min-width: $tablet) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}
