.blockquote {
  margin: 0;
  color: $color-primary;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 34px;
  display: inline-block;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.blockquote__author {
  margin-top: 35px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $color-primary;

  @media (min-width: $tablet) {
    margin-top: calc((((100% - 768px) * 0.0419) * -1) + 60px);
  }

  @media (min-width: $desktop) {
    margin-top: 44px;
  }
}

.blockquote__source {
  margin: 0;
  margin-top: 6px;

  @media (min-width: $tablet) {
    padding-bottom: 50px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 100px;
  }
}

.blockquote__link {
  text-decoration: none;
  color: inherit;
}
