.button {
  text-transform: uppercase;
  font-family: inherit;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: $color-primary;
  padding: 14px;
  border: 2px solid $color-primary;
  transition: all 0.3s ease-in-out;
  background-color: $white;
  cursor: pointer;

  &:hover {
    background-color: $color-primary;
    color: $white;
  }

  &:active {
    color: rgba($white, 0.3);
  }

  &:focus {
    outline: 2px solid $color-secondary-hover;
    outline-offset: 4px;
  }

  &--modal {
    color: $white;
    background-color: $color-secondary-50;
    border-color: $color-secondary-50;

    &:hover {
      border-color: $color-primary;
    }
  }
}
