.contacts {
  position: relative;

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 523px 527px;
    grid-template-rows: 149px 260px 52px;
    width: min-content;
    margin: 0 auto;
  }
}

.contacts--positioning {
  padding-top: 38px;

  @media (min-width: $tablet) {
    padding-top: 44px;
  }

  @media (min-width: $desktop) {
    padding-top: 0;
    margin-top: 163px;
    margin-bottom: 103px;
  }
}

.contacts__title {
  position: relative;
  padding: 0 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 28px;

  &::before {
    @media (min-width: $tablet) {
      content: "";
      position: absolute;
      background-image: url("../../img/icon-flag.svg");
      background-repeat: no-repeat;
      width: 47px;
      height: 81px;
      top: -24px;
      right: 53px;
    }

    @media (min-width: $desktop) {
      top: -19px;
      left: -110px;
    }
  }

  @media (min-width: $tablet) {
    font-size: 43px;
    line-height: 50px;
    margin-left: 0;
    margin-bottom: 49px;
    padding: 0 50px;
  }

  @media (min-width: $desktop) {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 19px;
    margin-left: 173px;
    margin-top: 80px;
    padding: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.contacts__list {
  padding: 0 30px;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 62px;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 48px;
    padding: 0 50px;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
    margin-left: 174px;
    padding: 0;
    padding-top: 24px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-content: flex-start;
  }
}

.contacts__item {
  display: flex;
  color: $color-primary;
  font-size: 14px;
  line-height: 30px;

  &:not(:last-of-type) {
    margin-bottom: 30px;
  }

  @media (min-width: $tablet) {
    flex-direction: row;
    font-size: 17px;
    flex-basis: 50%;
    justify-content: flex-start;
  }

  @media (min-width: $desktop) {
    flex-basis: auto;
  }
}

.contacts__characteristic {
  margin-right: 33px;

  @media (min-width: $tablet) {
    margin-right: 25px;
  }
}

.contacts__value {
  margin: 0;
}

.contacts__link {
  color: inherit;
  text-decoration: none;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: $color-secondary;
    bottom: -3px;
    left: 0;

    @media (min-width: $desktop) {
      bottom: -8px;
    }
  }

  &:hover {
    color: $color-secondary-hover;
  }

  &:active {
    &::before {
      opacity: 0.2;
    }
  }
}

.contacts__map {
  object-fit: cover;
  margin-bottom: 38px;
  font-size: 19px;

  @media (min-width: $tablet) {
    margin-bottom: 51px;
  }

  @media (min-width: $desktop) {
    width: 527px;
    height: 457px;
    margin: 0;
    padding: 0;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }
}

.contacts__image {
  width: 100%;
}

.button-wrapper {
  padding: 0 30px;

  @media (min-width: $desktop) {
    margin-left: 174px;
    padding: 0;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    align-self: flex-end;
  }
}

.contacts__button {
  margin-bottom: 38px;
  width: 260px;

  @media (min-width: $tablet) {
    width: 230px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 56px;
  }

  @media (min-width: $desktop) {
    margin: 0;
    left: 0%;
    transform: translate(1px, -3px);
  }
}
