.custom-text-box {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  transition: all 0.5s ease-in-out;

  &:hover {
    .custom-text-box__input {
      border-color: $color-secondary-hover;
    }

    .custom-text-box__icon-mail {
      fill: $color-secondary;
      opacity: 1;
    }

    .custom-text-box__icon-phone {
      fill: $color-secondary;
      opacity: 1;
    }
  }

  &:active {
    .custom-text-box__input {
      border-color: $color-secondary-hover;
    }
  }


  @media (min-width: $tablet) {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }
}

.custom-text-box__positioning {
  @media (min-width: $tablet) {
    margin-left: 167px;
  }

  @media (min-width: $desktop) {
    margin: 0 175px;
  }
}

.custom-text-box__input {
  padding-top: 15px;
  padding-bottom: 16px;
  border: none;
  border-bottom: 2px solid $black;
  font-size: 17px;
  outline: none;
  background-color: transparent;

  &:focus {
    border-color: $color-secondary-hover;
  }

  @media (min-width: $tablet) {
    padding-left: 18px;
    font-size: 19px;
    padding-top: 14px;
    padding-bottom: 15px;
    width: 100%;
  }
}

.custom-text-box__description {
  font-weight: bold;
  font-size: 17px;

  @media (min-width: $tablet) {
    font-size: 19px;
    margin-right: 25px;
  }
}

.custom-text-box__icon-phone {
  fill: $black;
  opacity: 0.2;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.custom-text-box__icon-mail {
  fill: $black;
  opacity: 0.2;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
