.custom-checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $black;

  &:hover {
    .custom-checkbox__checkmark {
      border-color: $color-secondary-hover;
    }
  }

  @media (min-width: $tablet) {
    font-size: 19px;
    line-height: 18px;
  }
}

.custom-checkbox--positioning {
  padding-left: 60px;

  @media (min-width: $tablet) {
    padding-left: 80px;
  }
}

.custom-checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  outline: none;

  &:focus {
    & ~ .custom-checkbox__checkmark {
      border-color: $color-secondary-hover;
    }
  }

  &:active {
    & ~ .custom-checkbox__checkmark {
      border-color: rgba($black, 0.3);
    }
  }

  &:checked {
    & ~ .custom-checkbox__checkmark::before {
      display: block;
    }
  }
}

.custom-checkbox__checkmark {
  position: absolute;
  left: 0;
  width: 38px;
  height: 38px;
  background-color: transparent;
  border: 2px solid $black;

  &--order-form {
    left: 0;
    top: -10px;
  }

  @media (min-width: $tablet) {
    width: 52px;
    height: 52px;
    top: -19px;
  }
}

.custom-checkbox__checkmark::before {
  display: none;
  content: "";
  position: absolute;
  transform: rotate(-45deg);
  left: 7px;
  top: 7px;
  width: 20px;
  height: 12px;
  border: 1px solid $black;
  border-right-color: transparent;
  border-top-color: transparent;
  background-color: transparent;

  @media (min-width: $tablet) {
    left: 11px;
    top: 13px;
    width: 26px;
    height: 16px;
  }
}
