.custom-textarea-box {
  @media (min-width: $tablet) {
    margin-left: 167px;
  }
}

.custom-textarea-box__input {
  width: 100%;
  padding: 17px;
  height: 142px;
  resize: none;
  border: 2px solid $black;
}
