.form-choice-size__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.form-choice-size__fieldset {
  border: none;
}

.form-choice-size__legend {
  font-size: 15px;
}
