.page-header {
  z-index: 100;
  background-color: transparent;

  @media (min-width: $tablet) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.page-header__container {
  position: relative;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    display: grid;
    grid-template-rows: 89px 66px;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo user-navigation" "main-navigation delivery-slogan";
  }

  @media (min-width: $desktop) {
    justify-content: space-between;
    align-items: center;
    grid-template-rows: 89px 62px;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: "main-navigation logo user-navigation" "minor-navigation span delivery-slogan";
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 0;
  grid-area: logo;

  @media (min-width: $tablet) {
    padding: 20px 0;
    transform: translate(-2px, 2px);
    justify-self: flex-start;
  }

  @media (min-width: $desktop) {
    order: 2;
    padding: 7px 0;
  }
}

.page-header__image {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__nav-toggle--no-js {
  display: none;
}

.page-header__nav-toggle {
  position: absolute;
  right: 30px;
  width: 20px;
  height: 2px;
  background-color: $black;
  border: none;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    top: -6px;
    right: 0;
    background-color: $black;
  }

  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    top: 6px;
    right: 0;
    background-color: $black;
  }

  &:focus {
    outline: none;
  }

  &--active {
    background-color: transparent;

    &::after {
      transform: rotate(45deg);
      top: 0;
      right: 5px;
    }

    &::before {
      transform: rotate(-45deg);
      top: 0;
      right: 5px;
    }
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

.page-header__delivery-slogan {
  grid-area: delivery-slogan;

  &--hidden {
    display: none;
  }

  @media (min-width: $tablet) {
    display: block;
    z-index: 5;
    font-size: 15px;
    justify-self: flex-end;
    align-self: center;
  }
}
