.page-footer {
  background-color: $color-bg-footer;
  padding: 28px 0;

  @media (min-width: $tablet) {
    padding: 52px 0;
  }
}

.footer-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    left: 30px;
    bottom: 55px;
    width: calc(100% - 60px);
    height: 1px;
    background-color: rgba($black, 0.1);
    z-index: 4;

    @media (min-width: $tablet) {
      display: none;
    }
  }

  @media (min-width: $tablet) {
    flex-direction: row;
  }
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 43px;

  @media (min-width: $tablet) {
    flex-basis: 33.333%;
    text-align: center;
    margin-bottom: 0;
  }
}

.social-list__item:not(:last-of-type) {
  margin-right: 41px;
}

.footer__logo {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    flex-basis: 33.333%;
  }
}

.footer__academy-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 19px;
  text-decoration: none;
  color: $black;
  text-align: center;

  svg {
    fill: $color-secondary;
    margin-left: 27px;
  }

  @media (min-width: $tablet) {
    flex-basis: 33.333%;
    text-align: right;
  }
}
