.page-header {
  border-bottom: 1px solid rgba($black, 0.2);
}

.page-header__container {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  }

  @media (min-width: $desktop) {
    justify-content: space-between;
    align-items: center;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 0;

  @media (min-width: $tablet) {
    padding: 20px 0;
  }

  @media (min-width: $desktop) {
    order: 2;
    padding: 7px 0;
  }
}

.page-header__nav-toggle {
  position: absolute;
  right: 30px;
  width: 20px;
  height: 2px;
  background-color: $black;
  border: none;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    top: -6px;
    right: 0;
    background-color: $black;
  }

  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    top: 6px;
    right: 0;
    background-color: $black;
  }

  &:focus {
    outline: none;
  }

  &--active {
    background-color: transparent;

    &::after {
      transform: rotate(45deg);
      top: 0;
      right: 5px;
    }

    &::before {
      transform: rotate(-45deg);
      top: 0;
      right: 5px;
    }
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

.page-header__delivery-slogan {
  &--hidden {
    display: none;
  }

  @media (min-width: $tablet) {
    display: block;
    position: absolute;
    right: 50px;
    bottom: -40px;
    z-index: 5;
    font-size: 15px;
  }
}
