.site-form {
  margin-bottom: 55px;

  @media (min-width: $tablet) {
    margin-bottom: 49px;
  }
}

.site-form__slogan {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: $color-primary;
  margin-bottom: 28px;

  @media (min-width: $tablet) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 28px;
  }

  @media (min-width: $desktop) {
    width: 700px;
    margin-left: 175px;
  }
}

.site-form__fieldset {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: none;
  border-top: 1px solid $color-secondary;
  padding-top: 33px;
  margin-bottom: 42px;

  @media (min-width: $tablet) {
    border: none;
  }
}

.site-form__fieldset--type {
  @media (min-width: $tablet) {
    margin-bottom: 65px;
  }
}

.site-form__fieldset--color {
  padding-top: 33px;

  @media (min-width: $tablet) {
    margin-bottom: 11px;
  }

  @media (min-width: $tablet) {
    padding-top: 49px;
  }
}

.site-form__fieldset--initials {
  padding-top: 27px;
  margin-bottom: 32px;

  @media (min-width: $tablet) {
    margin-bottom: 50px;
  }
}

.site-form__fieldset--phone {
  padding-top: 3px;
  margin-bottom: 34px;

  @media (min-width: $tablet) {
    padding-top: 32px;
    margin-bottom: 2px;
  }
}

.site-form__fieldset--email {
  padding-top: 3px;
  margin-bottom: 0;
  padding-bottom: 50px;
}

.site-form__fieldset--textarea {
  padding-top: 20px;
  margin-bottom: 13px;

  @media (min-width: $tablet) {
    padding-top: 30px;
    margin-bottom: 53px;
  }
}

.site-form__legend {
  padding-right: 20px;
  font-weight: bold;
  font-size: 17px;
  color: $color-secondary;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    transform: translateY(51px);
  }

  @media (min-width: $desktop) {
    transform: translate(61px, 51px);
  }
}

.site-form__legend--color {
  @media (min-width: $tablet) {
    transform: translateY(66px);
  }

  @media (min-width: $desktop) {
    transform: translate(61px, 66px);
  }
}

.site-form__legend--initials {
  @media (min-width: $tablet) {
    transform: translateY(61px);
  }

  @media (min-width: $desktop) {
    transform: translate(61px, 61px);
  }
}

.site-form__legend--phone {
  @media (min-width: $tablet) {
    transform: translateY(65px);
  }

  @media (min-width: $desktop) {
    transform: translate(61px, 65px);
  }
}

.site-form__legend--email {
  @media (min-width: $tablet) {
    transform: translateY(37px);
  }

  @media (min-width: $desktop) {
    transform: translate(61px, 37px);
  }
}

.site-form__legend--textarea {
  @media (min-width: $tablet) {
    transform: translateY(68px);
  }

  @media (min-width: $desktop) {
    transform: translate(61px, 68px);
  }
}

.site-form__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    margin-left: 167px;
  }

  @media (min-width: $desktop) {
    margin: 0 175px;
  }
}

.site-form__item:not(:last-child) {
  margin-bottom: 24px;

  @media (min-width: $tablet) {
    margin-bottom: 58px;
  }
}

.site-form__fieldset--color .site-form__item {
  @media (min-width: $tablet) {
    flex-basis: 50%;
  }

  @media (min-width: $desktop) {
    flex-basis: 33%;
  }
}

.site-form__list--color {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.site-form__list--initials .site-form__item:not(:last-child) {
  margin-bottom: 22px;

  @media (min-width: $tablet) {
    margin-bottom: 23px;
  }
}

.site-form__list--color .site-form__item:not(:last-child) {
  margin-bottom: 43px;

  @media (min-width: $tablet) {
    margin-bottom: 58px;
  }
}

.site-form__footnote {
  font-size: 14px;
  line-height: 16px;
  color: $color-primary;
  margin-bottom: 30px;
  display: block;

  @media (min-width: $tablet) {
    font-size: 17px;
    line-height: 30px;
    float: right;
    margin-top: 9px;
  }
}

.site-form__button {
  width: 260px;

  @media (min-width: $tablet) {
    width: 230px;
  }

  @media (min-width: $desktop) {
    margin-left: 167px;
  }
}
