.text-box {
  position: relative;
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: $tablet) {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }
}

.text-box__positioning {
  @media (min-width: $tablet) {
    margin-left: 167px;
  }
}

.text-box__input {
  padding-top: 15px;
  padding-bottom: 16px;
  border: none;
  border-bottom: 2px solid $black;
  font-size: 17px;

  @media (min-width: $tablet) {
    padding-left: 18px;
    font-size: 19px;
    padding-top: 14px;
    padding-bottom: 15px;
    width: 100%;
  }
}

.text-box__description {
  font-weight: bold;
  font-size: 17px;

  @media (min-width: $tablet) {
    font-size: 19px;
    margin-right: 25px;
  }
}

.text-box__icon-phone {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: red;
}

.text-box__icon-mail {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: red;
}
