
.user-nav {
  display: none;

  &--hidden {
    display: block;
  }

  @media (min-width: $tablet) {
    order: 2;
    display: block;
    margin-left: auto;
  }

  @media (min-width: $desktop) {
    order: 3;
    margin-left: 0;
    justify-content: flex-end;
  }
}

.user-nav__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: 700;
  font-size: 17px;

  @media (min-width: $tablet) {
    flex-direction: row;
    order: 2;
  }
}

.user-nav__item {
  padding: 28px 0;
  box-shadow: 0 1px 0 rgba($black, 0.1), inset 0 1px 0 rgba($black, 0.1);

  &--search {
    @media (min-width: $tablet) {
      span {
        display: none;
      }
    }
  }

  @media (min-width: $tablet) {
    box-shadow: none;
    margin-left: 20px;
  }
}

.user-nav__link {
  text-decoration: none;
  color: $black;
  display: block;
  margin-left: 36px;
  line-height: 24px;

  span {
    margin-left: 17px;

    @media (min-width: $desktop) {
      margin-left: 26px;
      margin-right: 2px;
    }
  }

  @media (min-width: $tablet) {
    margin-left: 0;
    padding: 0;
  }
}
