.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.page {
  box-sizing: border-box;
  font-family: $font-family-primary;
  color: $black;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  min-width: $mobile;
  padding: 0 30px;
  margin: 0 auto;

  &--no-padding {
    padding: 0;
  }

  @media (min-width: $tablet) {
    min-width: $tablet;
    padding: 0 50px;
  }

  @media (min-width: $desktop) {
    width: $desktop;
  }
}

