// Media
$mobile: 320px;
$tablet: 768px;
$desktop: 1150px;

// colors
$white: #ffffff;
$white-100: #f9f9f9;
$white-200: #c6c6c6;
$wite-hover: rgba($white, 0.6);
$wite-down: rgba($white, 0.3);

$black: #000000;
$black-hover: rgba($black, 0.6);
$black-down: rgba($black, 0.3);

$color-primary: #444444;
$color-secondary: #62d1ba;
$color-secondary-50: #63d1bb;
$color-secondary-100: #56c3b2;
$color-secondary-down: rgba(#62d1ba, 0.3);


// fonts
$font-family-primary: "Open Sans", "Arial", sans-serif;

