// Media
$mobile: 320px;
$tablet: 768px;
$desktop: 1150px;

// colors
$white: #ffffff;
$white-100: #f9f9f9;
$white-200: #c6c6c6;

$black: #000000;

$color-primary: #444444;
$color-secondary: #62d1ba;
$color-secondary-50: #63d1bb;
$color-secondary-100: #56c3b2;
$color-bg-promo-block: #f9f9f9;
$color-bg-footer: #f1f1f1;


// fonts
$font-family-primary: "Open Sans", "Arial", sans-serif;


//

$width-picture: 525px;

